.logo {
  &__icon {
    width: 180px;
    height: 35px;
    color: $color-tomato;
    
    &--footer {
      width: 150px;
      height: 30px;
      color: $color-brown-light;
      transition: all 0.1s ease-in;

      &:hover {
        color: $color-tomato;
      }
    }
  }
}